$baseFontSize=16px;

$laptopsFontSize = 16px;
$tabletsFontSize = 14px;
$mobileFontSize = 14px;
$xsMobileFontSize = 12px;

$pageContentMaxWidth=1260px;
html
  font-size $laptopsFontSize
  font-family Raleway, sans-serif
  min-height 100vh

body
  padding 0
  margin 0
  min-height 100vh

h1,h2,h3,h4,p,ul
  margin 0
  padding 0

h1
  font-size 2rem

li
  list-style none

a
  text-decoration none

.page-wrapper
  box-sizing border-box

.page-content
  max-width $pageContentMaxWidth
  margin 0 auto
  height 100%