@import'./variables.styl';

.gift
  background-image url('./../assets/image/bg_4.jpg')
  background-repeat no-repeat
  background-size cover
  .page-content
    padding 250px 10px 0
    text-align center
    color aqua
    > h3
      margin 25px 0 40px
    .btn
      margin-top 150px
      margin-bottom 50px

.gift.bg
  background-image url('./../assets/image/img_10.jpg')
