@import'./variables.styl';

.gifts
  border 1px solid red
  padding 63px 10px
  background-image url('./../assets/image/bg_9.jpg')
  background-repeat no-repeat
  background-size cover
  //.page-content
  //  background-color aquamarine

  .head
    text-align center
    padding-bottom 40px
  .card__buttons
    display flex
    justify-content center

