@import'./variables.styl';

.gifts
  padding 63px 10px
  background-image url('./../assets/image/bg_9.jpg')
  background-repeat no-repeat
  background-size cover

  .head
    text-align center
    padding-bottom 40px
    > h2
      color $pink - 30%
  .card__buttons
    display flex
    justify-content center

