@import'./variables.styl';

.header
  position relative
  box-sizing border-box
  height 100vh

  .head
    text-align center
    &__text
      position absolute
      left 30%
      top 35%
      transform translate(-50%)
      width 40%
      color $pink - 40%
      font-style italic
      > h1
        font-size 2rem
        margin-bottom 40px
      > h2
        font-size 1.5rem
        margin-top 20px
        margin-bottom 60px

.header.bg
  background-image url('./../assets/image/img_01.jpg')

@media screen and (max-width: $mobile)
  .header
    .head
      &__text
        left 50%
        top 25%
        width 90%
        > h1
          font-size 1.5rem
          margin-bottom 20px
        > h2
          font-size 1.2rem
          margin-top 10px
          margin-bottom 50px