@import'./variables.styl';

.header
  position relative
  box-sizing border-box
  height 100vh

  .head
    text-align center
    &__text
      position absolute
      left 30%
      bottom 10%
      transform translate(-50%)
      color $white
      &:nth-child(1)
        top 50%
      > h2
        margin-top 20px

.header.bg
  background-image url('./../assets/image/img_01.jpg')

