.invited
  border 1px solid red
  position relative
  .text
    margin 250px 0
    text-align center
    color $white
    > h1
      margin-bottom 50px

.bg
  background-image url('./../assets/image/img_01.jpg')
  opacity .8
  background-position center, center
  background-size cover
  background-attachment fixed