.restaurant
  position relative
  padding 63px 10px
  background-image url('./../assets/image/bg_4.jpg')
  background-repeat no-repeat
  background-position center, center
  background-size cover
  text-align center
  .head
    text-align center
  .img
    > img
      max-width 100%