@import"styles/fonts.styl"
@import"https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
@import"styles/grid.styl"
@import"styles/base.styl"
@import"styles/lisa.styl"
@import"styles/navbar.styl"
@import"styles/header.styl"
@import"styles/clock.styl"
@import"styles/about.styl"
@import"styles/slider.styl"
@import"styles/slider2.styl"
@import"styles/button.styl"
@import"styles/invited.styl"
@import"styles/restaurant.styl"
@import"styles/map.styl"
@import"styles/footer.styl"
